caption {
  font-family: Georgia;
  font-size: 250%;
  color: #c38265;
}
#game {
    width: 600px;
    height: 600px;

    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 30px;

    position: absolute;
    display: block;
    background-color: white;
}

#grid {
    width: 378px;
    height: 395px;

    margin-left: 20px;
    margin-top: 50px;

    border: 3px solid #000000;
}

#board {position: relative;
        left: 400px;}

.cell input {
    display: inline-block;
    float: left;

    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.buttonsize {
      position: relative;
      left: 595px;
      top: 13px;
      border: none;
      width: 60px;
      height: 40px;
      background-color: #c38265;
}
