@font-face {
    font-family: 'Terror_Pro';
    src: url('terror_pro.ttf') format('truetype');
}
h1 {
    top: 5%;
    text-align: center;
    font-family: 'Terror_Pro';
    font-size: 400%;
    color: #ff8200;
    /*text-decoration: underline;*/
}
#game {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 30px;
    position: absolute;
    display: block;
    background-color: white;
}
#grid {
    width: 378px;
    height: 395px;
    margin-left: 20px;
    margin-top: 50px;
    border: 3px solid;
}
#board {
    margin-left: auto;
    margin-right: auto;
}
.cell input {
    display: inline-block;
    float: left;
    border: 1px solid;
    border-color: #000000;
    width: 40px;
    height: 40px;
}

input {
  background-color: #ff8200;
  color: #000000;
}

.buttonsize {
    top: 13px;
    border: none;
    width: 60px;
    height: 30px;
    color: #000000;
    background-color: #ff8200;
    font-family: 'Terror_Pro';
}
body {
    margin-top: 3%;
    background-image: url("http://wallpapercave.com/wp/5jCunVK.jpg");
    background-color: #858585;
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}
colgroup, tbody {
    border: solid medium;
}
td {
    border: solid thin;
    height: 3em;
    width: 3em;
    text-align: center;
    padding: 0;
}

table, tbody, tr, td, th, colgroup {
  border-color: #bfa4ff #bfa4ff #bfa4ff #bfa4ff;
}

#popup_box {
    display:none; /* Hide the DIV */
    position:fixed;
    _position:absolute; /* hack for internet explorer 6 */
    height:300px;
    width:600px;
    background:#FFFFFF;
    left: 300px;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;

    /* additional features, can be omitted */
    border:2px solid #ff0000;
    padding:15px;
    font-size:15px;
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;

}

#container {
    background: #d2d2d2; /*Sample*/
    width:100%;
    height:100%;
}

a{
cursor: pointer;
text-decoration:none;
}

/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;
    line-height:15px;
    right:5px;
    top:5px;
    position:absolute;
    color:#6fa5e2;
    font-weight:500;
}
